* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html, body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100vh;
    background-color: #dadadd;
}
#panel {
    display: flex;
    width: 400px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.icon i {
opacity: .3;
}
#first {
    opacity: 1;
} 
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    color: #fff;
    font-size: 20px;
}
#panel img {
    position: absolute;
    top: 0;
    left: 25px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}